# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
Bin/
UnityGenerated/
Library/
Assets/AssetStoreTools*
project.lock.json
Players/
Tools/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
.vs/
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.csproj
*.pidb
*.suo
/*.sln
*.sln
*.user
*.unityproj
*.ipch
*.opensdf
*.sdf
*.tlog
*.log
*.idb
*.opendb
WSATestCertificate.pfx
WSATestCertificate.pfx.meta